*{
  margin: 0;
  padding: 0;
}

.navigation{

  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  /* gap: 5%; */
  /* border: 1px solid red; */
}

.container {
  flex-wrap: wrap;
  justify-content: center;
}


.nav-link {
  height: 65px;
  /* width: max-content; */
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  /* border: 1px solid green; */
}

.nav-link:hover{
  background-color: rgb(235, 131, 238);
  color: white;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
  row-gap: 15px;
  margin-top: 10px;
}

.on-top-image{
  position: absolute;
  top: 100px;
  /* left: 30px; */

  /* width: 300px; */
}

.on-top-image img{
  width: 500px;
  border: 1px solid black;
}

.event-image{
  height: 700px;
  width: 700px;
  border: 1px solid red;
  
}

.event-image img{
  width: 100%;
  height: 100%;
}


.App{
  background-color: rgb(235, 131, 238);
}

#input{
  border: none;
}

@media only screen and (max-width: 1098px) {
  .navigation{
    width: 50%;
  }
  
}


@media only screen and (max-width: 886px) {
  .navigation{
    width: 80%;
    
  }
  .container{
    row-gap: 10px;
    margin-bottom: 1%;
  }

}

